
.App {

}

.card {
  width: 577px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #897399;
  margin: 0 auto;
  padding: 26px;
}

.card-image {
  width: 40%;
}

.card-info {
  width: 40%;
  font-size: 18px;
  color: #FFFFFF;
  text-align: left;
  padding: 5px;
  margin: 0 auto;
}

.card-star {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.card-like {
  width: 40px;
  height: 40px;
}
